* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
ol, ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}
.secondcontainer {
    max-width: 1475px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 370px;
}
.circle1 {
    display: block;
    background-color: #0A22F4;
    opacity: 1;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}
.circle2, .circle3 {
    display: block;
    background-color: #0A22F4;
    opacity: 0.3;
    width: 10px;
    height: 10px;
    margin-left: 10px;
    border-radius: 50%;
}
.titleandcircles {
    display: flex;
    justify-content: space-between;
}
.twoelements {
    display: flex;
}
p {
    width: 463px;
    height: 99px;
    margin-right: 269px;
    font-family: Helvetica Neue LT;
    font-size: 16px;
}
.partners {
    font-family: Helvetica Neue LT;
    font-size: 32px;
    margin-right: 269px;
    margin-bottom:60px; 
}
.circles {
    display: flex;
    margin-top: 10px;
}
.firstline, .secondline, .thirdline {
    flex-shrink:7;
}
.firstline {
    display: flex;
}
.secondline {
    display: flex;
}
.thirdline {
    display: flex;
}
